res/cim_modelica_class.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- edited with XMLSpy v2015 sp1 (x64) (http://www.altova.com) by Francisco Gómez (KTH) -->
<!--W3C Schema generated by XMLSpy v2015 sp1 (x64) (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="component">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="attribute" maxOccurs="unbounded"/>
				<xs:element ref="equation" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:ID"/>
			<xs:attribute name="stereotype"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="attribute">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="value"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:ID"/>
			<xs:attribute name="datatype"/>
			<xs:attribute name="variability"/>
			<xs:attribute name="visibility"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="value">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="equation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="method"/>
				<xs:element ref="argument" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="method">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="argument">
		<xs:complexType mixed="true"/>
	</xs:element>
</xs:schema>
