res/cim_iteslalibrary_pwpin.dtd

<!ELEMENT pwPinMap (cimAttribute+, moAttribute+)>
<!ATTLIST pwPinMap
          name CDATA #REQUIRED
          package CDATA #REQUIRED
          stereotype CDATA #REQUIRED>
<!ELEMENT cimAttribute (#PCDATA)>
<!ATTLIST cimAttribute
          name CDATA #REQUIRED>
<!ELEMENT moAttribute (#PCDATA)>
<!ATTLIST moAttribute
          datatype CDATA #REQUIRED
          flow CDATA #REQUIRED
          name CDATA #REQUIRED
          variability CDATA #REQUIRED
          visibility CDATA #REQUIRED>
