res/cim_modelica_model.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--W3C Schema generated by XMLSpy v2015 sp1 (x64) (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="model">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="component" maxOccurs="unbounded"/>
				<xs:element ref="eq_connect" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:ID"/>
			<xs:attribute name="stereotype"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="component">
		<xs:complexType>
			<xs:attribute name="name" type="xs:ID"/>
			<xs:attribute name="datatype"/>
			<xs:attribute name="variability"/>
			<xs:attribute name="visibility"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="eq_connect">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="component_init"/>
				<xs:element ref="component_end"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="component_init">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="component_end">
		<xs:complexType mixed="true"/>
	</xs:element>
</xs:schema>